/*

Styles ＿φ(°-°=)

(c) pirijan

*/


/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* TODO: insert reset here?*/

body {
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  background-color: #004021;
  margin-right: 20px;
  margin-left: 20px;
}

p,
.post
li,
table,
summary,
figure,
figure img,
figcaption,
.subscribe-by-email,
.loader,
.comment-success-badge,
.comment-error-badge {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 20px;
  margin-left: 240px;
  width: 420px;
}

figure img {
  max-width: 100%;
}
figcaption {
  font-size: 12px;
  color: #52856b;
  margin-top: -15px;
  max-width: 100%;
}

details {
  margin-top: 1.5rem;
}

summary {
  max-width: 100%;
  cursor: pointer;
  color: #9ff0ac;
}

li {
  clear: both;
  margin-bottom: 82px;
}

a {
  color: #9ff0ac;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 14px;
  margin-left: 200px;
  margin-top: 30px;
}

.site {
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
  display: inline-block;
  width: 100%;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.logo {
  background-image: url('/assets/pketh.svg');
  background-repeat: no-repeat;
  height: 22px;
  margin-bottom: 80px;
  margin-top: 30px;
  margin-right: 10px;
  width: 84px;
  cursor: pointer;
  float: left;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.logo:hover {
  opacity: .6;
}

.nav {
  float: right;
  margin-top: 38px;
  font-size: 13px;
}

.nav a {
  color: #52856B;
  text-decoration: none;
  margin-left: 15px;
}

.nav a:first-child {
  margin-left: 0;
}

.nav a:hover {
  color: #9ff0ac;
  text-decoration: underline;
}

.kinopio-logo {
  width: 16px;
  vertical-align: -2px;
  padding-right: 5px;
}

/*****************************************************************************/
/*
/* Posts List
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: calc(40 / 700 * 100%);
}

.meta-date {
  color: #35634C;
  font-weight: normal;
  padding-right: 8px;
  padding-left: 4px;
  text-transform: none;
}

.title {
  font-size:20px;
  line-height: 26px;
  font-weight: normal;
  font-family: palatino, Times, serif;
}

.title a:hover, .meta:hover {
  color: #9ff0ac;
  text-decoration: underline;
}

.title a {
  color: white;
  text-decoration: none;
  word-break:  break-word;
}

.meta {
  float: right;
  font-size: .9em;
  color: #9FF0AC;
  text-decoration: underline;
}

.meta:hover {
  text-decoration: none;
}

.post-actions-container {
  color: #6EA188;
}

.post-actions-container img {
  vertical-align: middle;
  padding-right: 6px;
}
.post-actions-container span {
  vertical-align: middle;
}
.post-actions-container a {
  text-decoration: none;
}
.post-actions-container a:hover {
  text-decoration: underline;
}

.related {
  color: #6EA188;
}

.related a {
  text-decoration: none;
}

.related a:hover {
  text-decoration: underline;
}


.related-posts:nth-child(1):after {
  content: ', '
}
.related-posts:nth-child(2):after {
  content: ', and '
}


/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/

.permalink {
  padding-top: 1em;
  padding-left: 40px;
}


.post ul {
  list-style-type:circle;
  margin-left: -6px;
}

.post ul li {
  width: 380px;
  margin-bottom: 10px;
}
.post ul li li {
  margin-left: 20px;
  margin-top: 10px;
  width: calc(100% - 20px);
}

.post ol {
  list-style-type:decimal;
}

.post ol li {
  margin-left: 237px;
  margin-bottom: 10px;
  max-width: 60%;
}

.post ol li p{
  margin-left: auto;
  margin-bottom: 10px;
  width: 100%;
}

.post img,
.post figure img,
.post video {
  box-shadow: 9px 6px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
  height: auto;
  max-width: 100%
}

.post .large {
  margin-left: -234px;
  max-width: 654px
}

.post .no-shadow,
.post .emoji {
  box-shadow: none;
}
.post .emoji {
  border-radius: 0;
}

figure {
  margin: 0;
}

iframe {
  padding: 0;
  margin: 0;
  border: 0;
}

blockquote {
  border-left: 1px #326048 solid;
  max-width: 400px;
  color: #79b698;
  margin-left: calc(270 / 700 * 100%);
}

blockquote p {
  width: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 25px
}

.posts-meta-tag {
  text-align: right;
  font-size: .9em;
  width: 660px;
  margin-top: 4px;
}

.tag-name {
  text-transform: capitalize;
}

.post code,
.comment-content code {
  display: inline;
  background-color: #1A5538;
  width: auto;
  font-family: Menlo, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  color: #79b698;
  padding: 3px 3px;
  border-radius: 3px;
}

.post pre {
  border: 1px solid #F7F5F0;
  background-color: #F7F5F0;
  padding: .6em .8em;
  border-radius: 3px;
  font-size: 12px;
  line-height: 19px;
  box-shadow: 9px 6px 0 rgba(0, 0, 0, .2);
  font-family: Menlo, Consolas, "Lucida Console", monospace;
  overflow-x: scroll;
  margin-left: auto;
}

.post .small-code pre {
  max-width: 400px;
  overflow: auto;
  height: auto;
  word-break: break-all;
}

.post pre code {
  background-color: transparent;
  color: black;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.highlighter-rouge {
  width: 420px;
  max-width: 100%;
  margin-left: auto;
}
.highlight {
  margin-left: auto;
}

.images-wrap {
  display: flex;
  margin-left: auto;
  align-items: flex-start;
  justify-content: flex-end;
}
.images-wrap * {
  max-height: 400px;
}
.images-wrap *:first-child {
  margin-right: 10px
}
@media (max-width: 740px) {
  .images-wrap {
    flex-direction: column;
  }
  .images-wrap *:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* post-specific code highlight twiddles */

.textexpander-kaomoji pre .language-erb .err,
.textexpander-kaomoji pre .language-erb .p,
.textexpander-kaomoji pre .language-erb .n,
.textexpander-kaomoji pre .language-erb .o,
.textexpander-kaomoji pre .language-erb .no {
  border: none;
  color: #B94547;
}
.textexpander-kaomoji pre .language-erb .x {
  color: #0829AF
}
.textexpander-kaomoji pre .language-erb .ss {
  color: #222
}

hr {
  border-top-style: none;
  border-color: #326048;
  width: 420px;
  margin-right: 0;
}

iframe.twitter-tweet-rendered {
  margin-left: auto !important;
  max-width: 420px !important;
  border-width: 0px !important;
  box-shadow: 9px 6px 0 rgba(0, 0, 0, .2) !important;
  border-radius: 3px !important;
}

.standalone-emoji {
  font-size: 22px;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

.desktop-computer-icon {
  margin-bottom: -1rem;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

footer {
  font-size: .9em;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

.paginator-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.paginator-wrap a {
  text-decoration: none;
}

.paginator {
    font-size: 18px;
    border: 1px #49695F solid;
    box-shadow: 0 1px 0 #49695F, inset 0 1px 0 rgba(255, 255, 255, .4);
    font-weight: bold;
    height: 20px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    padding: 6px 14px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: center 6px;
    width: 20px;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.prev {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-image: url('/assets/prev.svg');
}

.next{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: url('/assets/next.svg');
    margin-left: -6px;
}

.prev:hover, .next:hover {
    background-color: #3BA281;
}

.prev:active, .next:active {
    box-shadow: none;
    background-color: #3AC99C;
}

.firstpage {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.lastpage {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*****************************************************************************/
/*
/* Meta pages (archives, about)
/*
/*****************************************************************************/

.page-title {
  font-weight: bold;
  margin-bottom: 60px;
}

.meta-page-list {
  width: auto;
  margin-bottom: 24px
}

.meta-page-about {
  margin-left: 40px;
}

.meta-page-about p {
  margin-left: 0;
}
.meta-page-about-end {
  border-top: 1px solid #486C5A;
  padding-top: 10px;
    margin-top: 120px;
color: #6EA188;
}


/*****************************************************************************/
/*
/* 404 page
/*
/*****************************************************************************/

.e404 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: bold;
}

.e404-image{
  text-align: center;
}

/*****************************************************************************/
/*
/* Other pages
/*
/*****************************************************************************/


#tags,
#archives {
  margin-bottom: 80dvh;
  .subscribe-by-email {
    max-width: fit-content;
  }

  /*.subscribe-by-email {
    margin-left: initial;
  }
  }*/
  /*.title {
    font-size: 18px;
  }
  .meta-page-list {
    margin-bottom: 1.5rem;
  }
  */
}


/*****************************************************************************/
/*
/* Tables
/*
/*****************************************************************************/

.table-wrap { /* applied with js */
  overflow-x: scroll;
}

table {
  border-collapse: collapse;
  border-radius: 3px;
  padding: 5px;
  table-layout: fixed;
  max-width: 100%;
}

table, td {
  border: 1px solid #35634c;
}

th {
  background-color: #00361b;
}

th, td {
  height: 2rem;
  padding-left: 1em
}


/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/

@media (max-width: 740px) {

  body {
    margin-right: 10%;
    margin-left: 10%;
  }

  .permalink {
    padding-left: 0;
  }

  p, .post ul, .post li, blockquote, table, summary, figure, subscribe-by-email {
    margin-left: auto;
  }

  figure img,
  figcaption {
    margin-left: 0;
  }

  .post ol li, .post ul li {
    margin-left: auto;
    max-width: 100%;
    width: 380px;
  }

  blockquote {
    margin-left: auto;
    width: 360px
  }

  h1, h2 {
    margin-left: auto;
    max-width: 440px;
  }

  .post .large {
    width: 100%;
    margin-left: auto;
  }

}

@media (max-width: 500px) {

  .logo {
    margin-bottom: auto;
  }

  .nav {
    margin-bottom: 40px;
  }

  .meta-date {
    padding-left: 0;
  }

  .posts {
    padding-left: 0;
  }

  .post img,
  .post figure img {
    margin-left: -20px;
  }

  p, .post ul, .post li, hr, figure {
    margin-left: auto;
    width: auto;
  }

  blockquote {
    width: auto;
    margin-right: auto;
  }

  .post ol li, .post ul li {
    width: auto;
  }

  h1, h2 {
    width: auto;
  }

  .post img,
  .post figure img {
    margin-left: auto;
  }

  .subscribe-by-email button {
    margin-left: 0 !important;
    margin-top: 5px;
    margin-bottom: 1em;
  }

}

@media (max-width: 420px) {
  figure {
    margin: 0;
  }
  .post .small-code pre {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .header {
    margin-bottom: 20px;
  }

  body {
    margin-right: 8%;
    margin-left: 8%;
  }

  .nav a {
    margin-left: 10px;
  }

  .title {
    margin-bottom: 20px;
  }

}


/* extras */

.icon {
  display: inline-block;
  width: 85px;
  margin-right: 8px;
  vertical-align: middle;
}

.icon-small {
  width: 30px;
}

.pre-paragraph {
  white-space: pre-line;
  overflow: auto;
  color: black;
}

/* kinopio promo */

.kinopio-promo {
  width: 420px;
  max-width: 100%;
  margin-left: auto;
  display: block;
  margin-top: 3rem;
  margin-bottom:  4rem;
}

.kinopio-promo .promo-logo {
  width: 60px;
  height: 60px;
  background-image: url('/assets/logo-base.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.kinopio-promo .promo-logo:hover {
  background-image: url('/assets/logo-hover.png');
}
.kinopio-promo .promo-logo:active {
  background-image: url('/assets/logo-active.png');
}

.kinopio-promo .promo-image {
  width: 204px;
}

.kinopio-promo .content-wrap {
  display: flex;
}

.kinopio-promo p {
  margin-left: 15px;
  width: calc(100% - 15px);
}
.kinopio-promo p:first-child {
  margin-top: 0;
}

.kinopio-promo .badge {
  display: inline-block;
  width: initial;
}

.kinopio-promo .promo-cta {
  margin-bottom: 10px;
}

button,
input[type=submit] {
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  font-size: 14px;
  margin-left: 6px;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #9ff0ac;
  background-color: transparent;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.25);
  color: #9ff0ac;
  cursor: pointer;
}

button:hover,
input[type=submit]:hover {
  box-shadow: 5px 5px 0 rgba(0,0,0,0.25);
}

button:active,
input[type=submit]:active {
  background-color: rgba(0,0,0,0.25);
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.35);
}

input[type=submit] {
  width: max-content;
  margin-left: 0;
}

/* forms */

form,
.subscribe-by-email {
  max-width: 420px;
  width: 100%;
  margin-left: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: flex-start;
}

form.subscribe-by-email-form {
  align-items: center;
}

.subscribe-by-email form {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.subscribe-by-email .mushroom {
  margin-right: 10px;
  width: 42px;
}

.subscribe-by-email p {
  margin: 0;
  margin-bottom: 0.2rem;
  padding-top: 0;
  border-top: none;
}

form input,
form textarea {
  width: 100%;
  border-radius: 0;
  font-size: 14px;
  border-color:  #6ea188;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid #6ea188;
  align-items: flex-start;
  box-sizing: border-box;
}

form input::placeholder,
form textarea::placeholder {
  color: #6ea188;
  opacity: 1; /* firefox */
}

.subscribe-by-email .badge {
  margin-left: 0;
}

.subscribe-by-email .badge:hover {
  box-shadow: none;
}

.subscribe-by-email .badge:active {
  box-shadow: none;
}

.subscribe-by-email .error-badge {
  background-color: pink;
}

.hidden {
  display: none !important;
}
.pre-cached {
  visibility: hidden;
  width: 1px;
  position: absolute;
  pointer-events: none;
}


/* comments */

.post-actions-container hr {
  display: block;
  padding-right: 0;
  max-width: 100%;
  margin-left: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.post-comments-form {
  background-color: #03371d;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.20);
}

.post-comments-form input,
.post-comments-form textarea {
  margin-bottom: 1rem;
}

.post-comments-container aside p,
.post-comments-container p:first-child {
  border-top: none;
  padding-top: 0;
}

.post-comments-container .comment-meta {
  display: flex;
  justify-content: space-between;
}

.post-comments-container .comments-subscribe {
  display: flex;
}
.post-comments-container label {
  font-size: 14px;
  display: inline-block;
}
.post-comments-container input[type=checkbox] {
  width: initial;
  display: inline-block;
  margin-right: 6px;
}

.post-comments-container input[type=submit] {
  margin-top: 5px;
  margin-bottom: 0;
}

.post-comments-container li {
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 23px;
}

.post-actions-container .comments-string {
  display: inline;
  width: fit-content;
}
.post-actions-container .loader {
  margin: 0;
  margin-left: 5px;
  vertical-align: -2px;
}

.comment-meta-badge {
  border-radius: 10px;
  background-color: #03371d;
  display: inline-block;
  vertical-align: 2px;
  margin-right: 2px;
  font-size: 10px;
  padding: 0 6px;
  line-height: 15px;
}
.comment-meta-badge {
  color: #79b698;
  margin-left: 6px;
  margin-right: 0;
}
.comment-kinopio-badge {
  color: black;
}
.comment-meta-name {
  margin-top: -2px;
}
.comment-time-badge {
  margin-right: 4px;
}
.comment-new-badge {
  background-color: #57a8ff;
  color: black;
}

.comment-success-badge,
.comment-error-badge {
  margin-left: auto;
  margin-top: 1rem;
  max-width: 100%;
}

.comment-error-badge a {
  color: black;
  text-decoration: underline;
}

/* comment content */

.comment-content img {
  max-width: 100%;
  border-radius: 3px;
  padding-right: 0;
}

.comment-content blockquote {
  margin-left: 20px;
}

.comment-content > code {
  margin-left: 15px;
}


/*****************************************************************************/
/*
/* Tag Badges
/*
/*****************************************************************************/

.badge {
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  font-size: 14px;
  margin-left: 6px;
  padding: 0px 8px;
  border-radius: 3px;
  background-color: teal;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.25);
  color: black;
}
.badge:first-letter {
  text-transform: capitalize;
}
.badge:hover {
  box-shadow: 5px 5px 0 rgba(0,0,0,0.25);
}
.badge:active {
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.35);
}

.tags-header.badge {
  padding: 4px 8px;
  padding-bottom: 5px;
  margin-left: 0;
  margin-bottom: 1rem;
}
.tags-list {
  margin-bottom: 2rem;
}
.tags-list .tags-header.badge {
  margin-left: 6px;
}

/* tag colors */

.badge.kinopio {
  background-color: #90ffff;
}
.badge.design {
  background-color: #b9a8ff;
}
.badge.glitch {
  background-color: #ee82ee;
}
.badge.engineering {
  background-color: #fec1cb;
}
.badge.biz {
  background-color: #fa8072;
}
.badge.life {
  background-color: #f0e68c;
}
.badge.learning {
  background-color: #65cdaa;
}
.badge.success {
  background-color: #66ffbb;
}
.badge.tools {
  background-color: #5ad338;
}

.inline-badge {
  margin-left: 6px;
  padding: 0px 8px;
  border-radius: 3px;
  background-color: cyan;
  color:  black;
}
.inline-badge.inspiration-badge {
  background-color: #f99ff5;
}

.static-badge,
.static-badge:hover,
.static-badge:active {
  box-shadow:  none;
  margin: 0;
  margin-right: 4px;
/*  border: 1px solid cyan;
  background-color: transparent;
  color: cyan;
*/}

.static-badge.danger {
  background-color: #ffb8b3;
/*  border-color: #ffb8b3;
  color: #ffb8b3;*/
}


/* post-specific badges */

/* /redesigning-futureland.html  */

.fl-badge {
  box-shadow: none;
  border-radius: 15px;
}
.fl-badge:hover {
  box-shadow: none;
}
.fl-badge:active {
  box-shadow: none;
}
.fl-new-post {
  background-color: #9a98ff;
}
.fl-activity-streak {
  background-color: #05d55b;
}
.fl-post-metadata {
  background-color: #ffb048;
}
.fl-journal-metadata {
  background-color: #a3e0f9;
}
.fl-scheduling {
  background-color: #ffed9c;
}
.fl-sharing {
  background-color: #ffbec1;
}

.post .fl-table-image {
  margin-top: 0.5em;
  margin-left:  -0.5em;
  border-radius:  6px;
  box-shadow: none;
}

/* loader */

.loader {
  overflow: hidden;
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 100px;
  background-color: #000;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.loader .moon {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-color: #fe84d4;
  position: absolute;
  top: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: slideMoon 2s ease-out infinite;
  mix-blend-mode: exclusion;
}
.loader .earth {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-color: #ffc0cb;
  position: absolute;
  top: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: slideEarth 3s ease-out infinite;
  mix-blend-mode: exclusion;
}
.loader .asteroid {
  height: 30%;
  width: 30%;
  border-radius: 100px;
  background-color: MediumSpringGreen;
  position: absolute;
  top: 100%;
  margin-top: -50%;
  margin-left: -70%;
  animation: slideAsteroid 1.5s ease-in infinite;
  mix-blend-mode: exclusion;
}
.loader .asteroid-dust {
  height: 25%;
  width: 25%;
  border-radius: 100px;
  background-color: #b46bd2;
  position: absolute;
  top: 100%;
  margin-top: -70%;
  margin-left: -70%;
  animation: slideAsteroidDust 1.3s ease-in infinite;
  mix-blend-mode: exclusion;
}
@keyframes slideMoon {
  from {
    left: -40%;
  }
  to {
    left: 145%;
  }
}
@keyframes slideEarth {
  from {
    left: -60%;
  }
  to {
    left: 145%;
  }
}
@keyframes slideAsteroid {
  from {
    left: -70%;
  }
  to {
    left: 150%;
  }
}
@keyframes slideAsteroidDust {
  from {
    left: -55%;
  }
  to {
    left: 150%;
  }
}
