/*

Styles ＿φ(°-°=)

(c) pirijan

*/


/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* TODO: insert reset here?*/

body {
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  background-color: #004021;
  margin-right: 20px;
  margin-left: 20px;
}

p, .post li, table, summary {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 20px;
  margin-left: 240px;
  width: 420px;
}

summary {
  max-width: 100%;
}

li {
  clear: both;
  margin-bottom: 82px;
}

a {
  color: #9ff0ac;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 14px;
  margin-left: 200px;
  margin-top: 30px;
}

.site {
  max-width: 700px;
  width: 100%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}


/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
  display: inline-block;
  width: 100%;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.logo {
  background-image: url('/assets/pketh.svg');
  background-repeat: no-repeat;
  height: 22px;
  margin-bottom: 80px;
  margin-top: 30px;
  margin-right: 10px;
  width: 84px;
  cursor: pointer;
  float: left;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.logo:hover {
  opacity: .6;
}

.nav {
  float: right;
  margin-top: 38px;
  font-size: 13px;
}

.nav a {
  color: #52856B;
  text-decoration: none;
  margin-left: 15px;
}

.nav a:hover {
  color: #9ff0ac;
  text-decoration: underline;
}

.nav-about {
  margin-left: 0;
}

.nav-things-short {
  display: none;
}

/*****************************************************************************/
/*
/* Posts List
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: calc(40 / 700 * 100%);
}

.meta-date {
  color: #35634C;
  font-weight: normal;
  padding-right: 8px;
  padding-left: 4px;
  text-transform: none;
}

.title {
  font-size:20px;
  line-height: 26px;
  font-weight: normal;
  font-family: palatino, Times, serif;
  word-break: break-all;
}


.title a:hover, .meta:hover {
  color: #9ff0ac;
  text-decoration: underline;
}

.title a {
  color: white;
  text-decoration: none;
}

.meta {
  float: right;
  font-size: .9em;
  color: #9FF0AC;
  text-decoration: underline;
}

.meta:hover {
  text-decoration: none;
}

.twitter-post {
  margin-top: 80px;
}

.twitter-post img {
  vertical-align: middle;
  padding-right: 6px;
}

.twitter-post a {
  text-decoration: none;
}

.twitter-post a:hover {
  text-decoration: underline;
}

.related {
  color: #6EA188;
  border-top: 1px solid #486C5A;
  border-bottom: 1px solid #486C5A;
  padding-top: 10px;
  padding-bottom: 10px;
}

.related a {
  text-decoration: none;
}

.related a:hover {
  text-decoration: underline;
}


.related-posts:nth-child(1):after {
  content: ', '
}
.related-posts:nth-child(2):after {
  content: ', and '
}


/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/

.permalink {
  padding-top: 1em;
  padding-left: 40px;
}


.post ul {
  list-style-type:circle;
  margin-left: -6px;
}

.post ul li {
  width: 380px;
  margin-bottom: 10px;
}

.post ol {
  list-style-type:decimal;
}

.post ol li {
  margin-left: 237px;
  margin-bottom: 10px;
  max-width: 60%;
}

.post ol li p{
  margin-left: auto;
  margin-bottom: 10px;
  width: 100%;
}

.post img,
.post video {
  box-shadow: 9px 6px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
  height: auto;
  max-width: 100%
}

.post .large {
  margin-left: -234px;
  max-width: 654px
}

.post .no-shadow, .post .emoji {
    box-shadow: none;
    border-radius: 0;
}

iframe {
  padding: 0;
  margin: 0;
  border: 0;
}

blockquote {
  border-left: 1px #326048 solid;
  max-width: 400px;
  color: #79b698;
  margin-left: calc(270 / 700 * 100%);
}

blockquote p {
  width: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 25px
}

.posts-meta-tag {
  text-align: right;
  font-size: .9em;
  width: 660px;
  margin-top: 4px;
}

.tag-name {
  text-transform: capitalize;
}

.post code {
  display: inline;
  background-color: #1A5538;
  width: auto;
  font-family: Menlo, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  color: #79b698;
  padding: 3px 3px;
  border-radius: 3px;
}

.post pre {
  border: 1px solid #F7F5F0;
  background-color: #F7F5F0;
  padding: .6em .8em;
  border-radius: 3px;
  font-size: 12px;
  line-height: 19px;
  box-shadow: 9px 6px 0 rgba(0, 0, 0, .2);
  font-family: Menlo, Consolas, "Lucida Console", monospace;
  overflow-x: scroll;
  margin-left: auto;
}

.post .small-code pre {
  max-width: 400px;
  overflow: auto;
  height: auto;
  word-break: break-all;
}

.post pre code {
  background-color: transparent;
  color: black;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* post-specific code highlight twiddles */

.textexpander-kaomoji pre .language-erb .err,
.textexpander-kaomoji pre .language-erb .p,
.textexpander-kaomoji pre .language-erb .n,
.textexpander-kaomoji pre .language-erb .o,
.textexpander-kaomoji pre .language-erb .no {
  border: none;
  color: #B94547;
}
.textexpander-kaomoji pre .language-erb .x {
  color: #0829AF
}
.textexpander-kaomoji pre .language-erb .ss {
  color: #222
}

hr {
  border-top-style: none;
  border-color: #326048;
  width: 420px;
  margin-right: 0;
}

iframe.twitter-tweet-rendered {
  margin-left: auto !important;
  max-width: 420px !important;
  border-width: 0px !important;
  box-shadow: 9px 6px 0 rgba(0, 0, 0, .2) !important;
  border-radius: 3px !important;
}

.standalone-emoji {
  font-size: 22px;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
  font-size: .9em;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

.paginator-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.paginator-wrap a {
  text-decoration: none;
}

.paginator {
    font-size: 18px;
    border: 1px #49695F solid;
    box-shadow: 0 1px 0 #49695F, inset 0 1px 0 rgba(255, 255, 255, .4);
    font-weight: bold;
    height: 20px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    padding: 6px 14px;
    line-height: 18px;
    transition: all .1s;
    background-repeat: no-repeat;
    background-position: center 6px;
    width: 20px;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.prev {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-image: url('/assets/prev.svg');
}

.next{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: url('/assets/next.svg');
    margin-left: -6px;
}

.prev:hover, .next:hover {
    background-color: #3BA281;
}

.prev:active, .next:active {
    box-shadow: none;
    background-color: #3AC99C;
}

.firstpage {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.lastpage {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.archives-link {
  margin-bottom: 120px;
}

/*****************************************************************************/
/*
/* Meta pages (archives, about)
/*
/*****************************************************************************/

.page-title {
  font-weight: bold;
  margin-bottom: 60px;
}

.meta-page-list {
  width: auto;
  margin-bottom: 24px
}

.meta-page-about {
  margin-left: 40px;
}

.meta-page-about p {
  margin-left: 0;
}
.meta-page-about-end {
  border-top: 1px solid #486C5A;
  padding-top: 10px;
    margin-top: 120px;
color: #6EA188;
}


/*****************************************************************************/
/*
/* 404 page
/*
/*****************************************************************************/

.e404 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: bold;
}

.e404-image{
  text-align: center;
}

/*****************************************************************************/
/*
/* Tables
/*
/*****************************************************************************/

table {
  border-collapse: collapse;
  border-radius: 3px;
  padding: 5px;
  table-layout: fixed;
  max-width: 100%;
}

table, td {
  border: 1px solid #35634c;
}

th {
  background-color: #00361b;
}

th, td {
  height: 2rem;
  padding-left: 1em
}


/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/

@media (max-width: 740px) {

  body {
    margin-right: 10%;
    margin-left: 10%;
  }

  .permalink {
    padding-left: 0;
  }

  p, .post ul, .post li, blockquote, table, summary {
    margin-left: auto;
  }

  .post ol li, .post ul li {
    margin-left: auto;
    max-width: 100%;
    width: 380px;
  }

  blockquote {
    margin-left: auto;
    width: 360px
  }


  h1, h2 {
    margin-left: auto;
    max-width: 440px;
  }

  .post .large {
    width: 100%;
    margin-left: auto;
  }

}

@media (max-width: 491px) {

  .logo {
    margin-bottom: auto;
  }

  .nav {
    margin-bottom: 40px;
  }

  .meta-date {
    padding-left: 0;
  }

  .posts {
    padding-left: 0;
  }

  .post img {
    margin-left: -20px;
  }

  p, .post ul, .post li, hr {
    margin-left: auto;
    width: auto;
  }

  blockquote {
    width: auto;
    margin-right: auto;
  }

  .post ol li, .post ul li {
    width: auto;
  }

  h1, h2 {
    width: auto;
  }

  .post img {
    margin-left: auto;
  }

}

@media (max-width: 420px) {
  .nav-things-long {
    display: none;
  }
  .nav-things-short {
    display: inline-block;
  }
  figure {
    margin: 0;
    width: 90%;
  }
  .post .small-code pre {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .header {
    margin-bottom: 20px;
  }

  .site {
    margin-top: 40px;
  }

  body {
    margin-right: 8%;
    margin-left: 8%;
  }

  .nav a {
    margin-left: 10px;
  }

  .title {
    margin-bottom: 20px;
  }

  .twitter-post {
    margin-top: 60px;
  }

}


/* extras */

.icon {
  display: inline-block;
  width: 85px;
  margin-right: 5px;
  vertical-align: middle;
}

.icon-small {
  width: 30px;
}

.pre-paragraph {
  white-space: pre-line;
  overflow: auto;
  color: black;
}