---
layout: default
title: pketh.org
---

<div id="home">

  <div class="tags-list">
    {% for tag in site.tags %}
      <a href="/tags/#{{ tag[0] }}"><div class="tags-header badge {{ tag[0] }}">{{ tag[0] }}</div></a>
    {% endfor %}
  </div>

  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
        <div class="title">
          <span class="meta-date">
            {% assign m = post.date | date: "%-m" %}
            {% case m %}
              {% when '1' %}Jan
              {% when '2' %}Feb
              {% when '3' %}Mar
              {% when '4' %}Apr
              {% when '5' %}May
              {% when '6' %}Jun
              {% when '7' %}Jul
              {% when '8' %}Aug
              {% when '9' %}Sep
              {% when '10' %}Oct
              {% when '11' %}Nov
              {% when '12' %}Dec
            {% endcase %} ’{{ post.date | date: "%y" }}
          </span>

          <a href="{{ post.url }}">{{ post.title }}</a>
          {% for tag in post.tags %}
            <a href="/tags/#{{ tag }}"><div class="badge {{ tag }}">{{ tag }}</div></a>
          {% endfor %}

        </div>

        <div class="post">
          {{ post.content }}
        </div>

      </li>

    {% endfor %}
  </ul>

  <div class="footer">

    {% if paginator.total_pages > 1 %}
      <div class="paginator-wrap">

        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            <div class="paginator prev"></div>
          </a>
        {% endif %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
           <div class="paginator next"></div>
          </a>
        {% endif %}

      </div>

    {% endif %}


    <a href="/archives" class="archives-link">Archives</a>
    <a href="http://pketh.org/feed.xml">RSS</a>

  </div>

</div>