<aside class="kinopio-promo">
  <div class="content-wrap">
    <a href="https://kinopio.club">
      <img class="promo-logo" src="/assets/logo-base.png"/>
    </a>
    <div>
      <p>
        <span>I make </span>
        <a href="https://kinopio.club">Kinopio</a><span>, a thinking canvas for new ideas and hard problems. It works how our brains work,</span>
      </p>
      <img src="/assets/kinopio-promo-cards.png" class="promo-cards" />
      <p class="promo-cta">
        <a href="https://kinopio.club">
          Connect your thoughts →
        </a>
      </p>
      <p class="promo-cta">
        <a href="https://help.kinopio.club/about">
          Learn more →
        </a>
      </p>
    </div>
  </div>
</aside>
