<aside class="kinopio-promo">
  <div class="content-wrap">
    <a href="https://kinopio.club">
      <div class="promo-logo"></div>
      <img class="pre-cached" src="/assets/logo-base.png"/>
      <img class="pre-cached" src="/assets/logo-hover.png"/>
      <img class="pre-cached" src="/assets/logo-active.png"/>
    </a>
    <div>
      <p>
        <span>I make </span>
        <a href="https://kinopio.club">Kinopio</a><span>, the thinking canvas for whiteboarding, research, moodboards, and note-taking that works how our brains work. <br/>No sign up required.</span>
      </p>
      <a href="https://kinopio.club">
        <img src="/assets/kinopio-promo.png" class="promo-image" />
        <p>Connect your Thinking →</p>
      </a>
    </div>
  </div>
</aside>
