<aside class="kinopio-promo">
  <div class="content-wrap">
    <a href="https://kinopio.club">
      <img class="promo-logo" src="/assets/logo-base.png"/>
    </a>
    <div>
      <p>
        <span>I make </span>
        <a href="https://kinopio.club">Kinopio</a><span>, a thinking canvas for new ideas and hard problems that works how our brains work. No sign up required.</span>
      </p>
      <a href="https://kinopio.club">
        <img src="/assets/kinopio-promo-cards.png" class="promo-cards" />
        <p>Connect your Thoughts →</p>
      </a>
    </div>
  </div>
</aside>
