<aside class="subscribe-by-email">
  <img class="mushroom" src="https://us-east-1.linodeobjects.com/kinopio-uploads/J6v7GlbFOdDQq2pgWKjut/image.gif"/>
  <div class="content-wrap">
    <p>Subscribe to New Posts by Email</p>
    <form id="subscribe-by-email">
      <input type="email" name="email" placeholder="space@jam.com" />
      <!-- submit handled by js -->
      <button type="submit">Subscribe</button>
    </form>
    <div id="saving-badge" class="saving hidden">Subscribing…</div>
    <div id="success-badge" class="badge inline-badge hidden">Subscribed</div>
    <div id="error-badge" class="badge inline-badge error-badge hidden">Error</div>
    <!-- error description added in js -->
    <span id="result-description" class="hidden"></span>
  </div>
</aside>
