<aside class="subscribe-by-email">
  <img class="mushroom" src="https://us-east-1.linodeobjects.com/kinopio-uploads/J6v7GlbFOdDQq2pgWKjut/image.gif"/>
  <div class="content-wrap">
    <p class="subscribe-by-email-title">Subscribe to New Posts by Email</p>
    <form id="subscribe-by-email" class="subscribe-by-email-form">
      <input type="email" name="email" placeholder="space@jam.com" />
      <!-- submit handled by js -->
      <span>&nbsp;</span>
      <button type="submit">Subscribe</button>
    </form>
    <div class="saving-badge saving hidden">Subscribing…</div>
    <div class="success-badge badge inline-badge hidden">Subscribed</div>
    <div class="error-badge badge inline-badge hidden">Error</div>
    <!-- error description added in js -->
    <span class="result-description" class="hidden"></span>
  </div>
</aside>
