<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="http://pketh.github.io/favicon.ico?v=2" />
        <link rel="alternate" type="application/rss+xml" title="Pketh Writes" href="{{ site.url }}/feed.xml">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">

            <a href="/">
              <div class="logo"></div>
            </a>

            <div class="nav">
              <!-- 🎅🎅🎅 -->
              <!-- 🎆🎆🎇 -->
              <a href="/about" class="nav-about">About</a>
              <a href="/archives" class="nav-archives">Archives</a>
              <a href="http://pirijan.org">Work</a>
            </div>

          </div>

          {{ content }}

          <div class="footer">

          </div>

    </body>
</html>
