---
layout: default
---

<!-- this renders the post permalink page -->

<div class="permalink">

  <div class="title">

    <span class="meta-date">
      {% assign m = page.date | date: "%-m" %}
      {% case m %}
        {% when '1' %}Jan
        {% when '2' %}Feb
        {% when '3' %}Mar
        {% when '4' %}Apr
        {% when '5' %}May
        {% when '6' %}Jun
        {% when '7' %}Jul
        {% when '8' %}Aug
        {% when '9' %}Sep
        {% when '10' %}Oct
        {% when '11' %}Nov
        {% when '12' %}Dec
      {% endcase %} ’{{ page.date | date: "%y" }}
    </span>

    <a href="{{ page.url }}">{{ page.title }}</a>
    {% for tag in page.tags %}
      <a href="/tags/#{{ tag }}"><div class="badge {{ tag }}">{{ tag }}</div></a>
    {% endfor %}

  </div>

  <div class="post">
    {{ content }}
  </div>

  <div class="post-actions-container post-comments-container">
    <hr/>
    <div class="post-comments-count">
      <p class="comments-string">
        Comments…
      </p>
      {% include loader.html %}
    </div>
    <aside>
    <!-- post-comments.js -->
    <!--
      .comment-meta
        .comment-meta-name
        .comment-meta-time
      .comment-content
    -->
    </aside>
    <form class="post-comments-form" action="" method="post">
      <input placeholder="name*" type="text" name="name" required />
      <input placeholder="email*" type="email" name="email" required />
      <input placeholder="website" type="url" name="website" />
      <textarea placeholder="comment* (markdown supported)" name="comment" rows="4" maxlength="15000"></textarea>
      <div class="comments-subscribe">
        <input type="checkbox" name="shouldNotify" id="shouldNotify" checked>
        <label for="shouldNotify">Subscribe to Updates</label>
      </div>
      <div>
        <input type="submit" value="Add Comment" />
        {% include loader.html %}
      </div>
    </form>

  </div>
  <script src="/assets/post-comments.js"></script>

  <div class="post-actions-container">
    <p>
      {% if page.hackernews %}
        Discuss this post on <a href="{{page.hackernews}}">Hacker News</a>,
        <br>
      {% endif %}
      <br>Subscribe to the <a href="/feed.xml">RSS feed</a>,
      <br>Follow me on <a href="https://c.im/@pirijan">Mastodon</a> or <a href="https://twitter.com/pketh">Twitter/X</a>.
    </p>

    <p>
        If you liked this, you might also enjoy
        {% for post in site.related_posts limit:3 %}
          <span class="related-posts"><a href="{{ post.url }}">{{ post.title }}</a></span>
        {% endfor %}
    </p>
  </div>

  {% include subscribe-by-email.html %}

  {% include kinopio-promo.html %}

</div>

<!-- twitter summary card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@pketh">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ content | strip_html | truncatewords:16 | truncate:200 }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
