---
layout: default
---

<!-- this renders the post permalink page -->

<div class="permalink">

  <div class="title">

    <span class="meta-date">
      {% assign m = page.date | date: "%-m" %}
      {% case m %}
        {% when '1' %}Jan
        {% when '2' %}Feb
        {% when '3' %}Mar
        {% when '4' %}Apr
        {% when '5' %}May
        {% when '6' %}Jun
        {% when '7' %}Jul
        {% when '8' %}Aug
        {% when '9' %}Sep
        {% when '10' %}Oct
        {% when '11' %}Nov
        {% when '12' %}Dec
      {% endcase %} ’{{ page.date | date: "%y" }}
    </span>

    <a href="{{ page.url }}">
      {{ page.title }}
    </a>

  </div>

  <div class="post">
    {{ content }}
  </div>

  <p class="twitter-post">
    <a href="https://twitter.com/pketh">
      <img src="/assets/twitter-logo.svg" width="26" height="26">@pketh
    </a>
  </p>

  <p class="related">
      If you liked this, you might also enjoy
      {% for post in site.related_posts limit:3 %}
        <span class="related-posts"><a href="{{ post.url }}">{{ post.title }}</a></span>
      {% endfor %}

  </p>

</div>

<!-- twitter summary card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@pketh">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ content | truncatewords:16 | truncate:200 | strip_html }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
