---
layout: default
---

<!-- this renders the post permalink page -->

<div class="permalink">

  <div class="title">

    <span class="meta-date">
      {% assign m = page.date | date: "%-m" %}
      {% case m %}
        {% when '1' %}Jan
        {% when '2' %}Feb
        {% when '3' %}Mar
        {% when '4' %}Apr
        {% when '5' %}May
        {% when '6' %}Jun
        {% when '7' %}Jul
        {% when '8' %}Aug
        {% when '9' %}Sep
        {% when '10' %}Oct
        {% when '11' %}Nov
        {% when '12' %}Dec
      {% endcase %} ’{{ page.date | date: "%y" }}
    </span>

    <a href="{{ page.url }}">{{ page.title }}</a>
    {% for tag in page.tags %}
      <a href="/tags/#{{ tag }}"><div class="badge {{ tag }}">{{ tag }}</div></a>
    {% endfor %}

  </div>

  <div class="post">
    {{ content }}
  </div>

  <div class="post-actions-container">
    <p>
      {% if page.hackernews %}
        Discuss on <a href="{{page.hackernews}}">Hacker News</a>,
        <br>
      {% endif %}
      Reply to <a href="mailto:hi@pirijan.com?subject=regarding {{page.title}}">hi@pirijan.com</a>,
      <br>Subscribe to the <a href="/feed.xml">RSS feed</a>,
      <br>or follow me on Twitter <a href="https://twitter.com/pketh">@pketh</a>.
    </p>
    <p>
        If you liked this, you might also enjoy
        {% for post in site.related_posts limit:3 %}
          <span class="related-posts"><a href="{{ post.url }}">{{ post.title }}</a></span>
        {% endfor %}
    </p>
  </div>

  <aside class="kinopio-promo">
    <div class="content-wrap">
      <a href="https://kinopio.club">
        <img src="/assets/logo-base.png"/>
      </a>
      <div>
        <p>
          <span>I make </span>
          <a href="https://kinopio.club">Kinopio</a><span>, a visual thinking tool for new ideas and hard problems. It works how our brains work,</span>
        </p>

        <p>
          <a href="https://kinopio.club">
            Connect your thoughts →
          </a>
        </p>
      </div>
    </div>
  </aside>

</div>

<!-- twitter summary card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@pketh">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ content | strip_html | truncatewords:16 | truncate:200 }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
